.modify .top{
  background: url('../images/资源32.png');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  margin-top: -2%;
  position: relative;
  padding: 3%;
}
.modify .top .head11{
  width: 24%;
  height: 24%;
  display: block;
  margin: 0 auto;
}
.modify .card{
  width: 32%;
  text-align: center;
  color: #fff;
  font-size: 80%;
  margin-top: 5%;
}
.modify .main{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 0 4%;
}
.modify .main .data{
  font-size: 115%;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
}
.modify .main .data p{
  margin-bottom: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.modify .main .data p img{
  width: 6%;
  height: 66%;
  margin-top: 1%;
}
