.user{
  background: #f1f1f1;
  width: 20rem;
  justify-content: center;
  margin:0 auto;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}
.user input{
  border: none;
  background: #f1f1f1;
  font-size: 1.2rem;
  line-height: 2rem;
  height: 3rem;
  outline: none;
  text-indent: 3.4rem;
  width: 20rem;
}
.user input:first-child{
  background: url('../images/66.png') no-repeat;
  background-size: 1.6rem;
  background-position: 1rem 0.7rem;
  border-bottom: 1px solid #ccc;
}
.user input:last-child{
  background: url('../images/suo.png') no-repeat;
  background-size: 1.6rem;
  background-position: 1rem 0.7rem;
}
.getLogin{
  background-color: #fff;
}
.getLogin .passw{
  font-size: 1rem;
  margin:0 auto;
  color: #666;
}
.reset{
  margin:0 auto;
  margin-bottom: 3rem;
}
.getLogin a{
  margin: 0 auto;
}
.reset .passw.reS{
  color: green;
}
.login2{
  width: 19rem;
  height: 2.5rem;
}
.OrLine{
  width: 20rem;
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
}
.OrLine .line{
  width: 9rem;
  border-top: 1px solid orange;
}
.OrLine .or{
  font-size: 1rem;
  color: red;
  font-size: 1.8rem;
  margin-top: -1.4rem;
  margin-bottom: 0;
  padding: 0 0.4rem;
  font-weight: lighter;
}
.third{
  display: flex;
  flex-direction: row;
  width: 10rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.third img{
  width: 2rem;
  height: 1.8rem;
}
.third img:nth-child(2){
  width: 1.6rem;
  margin-top: -0.3rem;
}
.casual{
  background: #ccc;
  color: #fff;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
  line-height: 2.6rem;
  border-radius: 11px;
  font-size: 1.2rem;
  margin-top: 2rem;
}
