.recommend{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 4%;
}
.recommend .pic{
  width: 100%;
}
.recommend img{
  width: 31%;
  height: 20%;
}
.recommend .second{
  margin-left: 2%;
  margin-right: 2%;
  width: 38%;
}
.recommend .three{
  width: 26%;
}
.recommend p{
  font-size: 0.8rem;
  color: #7D7D7D;
  text-indent: 0.8rem;
  margin-bottom: 0;
}
.recommend p img{
  width: 5%;
  margin-right: 2%;
  margin-left: 6%;
}
.recommend p .eye2{
  width: 4%;
}
.recommend p .eye3{
  width: 7%;
}
.recommend span{
  text-indent: 0.8rem;
  color: #A3A3A3;
  font-size: 0.6rem;
}
