.information{
  padding: 2%;
}
.information img{
  width: 5%;
  height: 5%;
  margin: 0 3% 2%;
}
.information p{
  width: 85%;
  margin:0 auto;
  border-bottom: 1px solid #ccc;
  margin-left: 11%;
  padding-bottom: 1.6%;
  display: flex;
  justify-content: space-between;
  color: #999;
}
.information:nth-child(4) p span{
  margin-top: 5%;
  width: 20%;
}
