
.ant-carousel .slick-slide {
  text-align: center;
  height: 28vh;
  background: #364d79;
  overflow: hidden;
}
.homepage .OrLine{
  width: 8rem;
  margin-top: 2rem;
}
.homepage .OrLine .line{
  width: 1rem;
  margin-top: -0.8rem;
}
.homepage .OrLine .or{
  font-size: 0.8rem;
}
