
.login{
  width: 10rem;
  height: 10rem;
}
.getLogin{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 4.6rem;
  width: 100vw;
  height: 100vh;
}
.getLogin span{
  font-size: 3.3rem;
  font-weight: lighter;
  margin:0 auto;
  margin-bottom: 3rem;
}
.getLogin img{
  margin:0 auto;
}
.getLogin p{
  margin:0 auto;
}
.getLogin .word{
  font-size: 2rem;
}
.getLogin .word:first-child{
  margin-right: 2rem;
}
.getLogin .login1{
  width: 14rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 7rem;
  display: block;
}
