.homemain{
  display: flex;
  justify-content: space-around;
}
.homemain a{
  color: #333;
}
.task{
  width: 46%;
  background-color: #fff;
  font-size: 0.6rem;
  border-radius: 11px;
  padding: 0.6rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.4rem;
}
.task:first-child p{
  margin-bottom: 1.6rem;
}
.task p img{
  width: 6rem;
  height: 3rem;
}
.task .information{
  background-color: #fff;
}
.task img{
  width: 1rem;
  height: 1rem;
}
.task .head11{
  width: 2rem;
  height: 2rem;
}
.task .male{
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.4rem;
}
.task .gold{
  color: red;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: -1rem;
  margin-left: 25%;
}
.task>span{
  color: #A3A3A3;
  font-size: 0.5rem;
  margin-left: 1.4rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
