
.account .head{
  background: url('../images/u62.png');
  background-repeat: no-repeat;
  background-size: 100vw 8vh;
  padding: 3%;
  margin-bottom: -1%;
  color: #fff;
  position: relative;
  display: flex;
  justify-content:space-between;
  font-size: 145%;
  font-weight: bold;
}
.account .head a{
  width: 8%;
  height: 8%;
}
.account .head>img{
  width: 7%;
  height: 7%;
  margin-top: 1%;
}
.account .head a img{
  width: 100%;
  height: 100%;
  left: 5%;
}
.account .detailed{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.account .detailed .list{
  padding: 4%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.account .detailed .list .money{
  margin-left: -51%;
}
.account .detailed .list img{
  width: 4%;
  height: 4%;
  margin-top: 2%;
  margin-left: 1%;
}
.detailed .list p{
  margin-bottom: 0;
}
.detailed .list p:nth-child(2){
  font-size: 159%;
}
.detailed .list a{
  width: 15%;
  background: red;
  color: #fff;
  height: 15%;
  padding: 1%;
  border-radius: 6px;
  text-align: center;
  margin-top: 1%;
}
.detailed>img{
  width: 38%;
  height: 20%;
  display: block;
  margin: 0 auto;
  margin-top: 25%;
}
.detailed .more{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 9%;
}
.detailed .more .option img{
  width: 50%;
  height: 50%;
}
