
.opinion .main{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 3%;
}
.opinion .main>div{
  margin-bottom: 3%;
  border-bottom: 1px solid #333;
  padding: 2% 0;
}
.opinion .main>div:nth-child(2){
  border-bottom: none;
}
.opinion .main .problem{
  display: flex;
  justify-content: space-between;
}
.opinion .main .problem img{
  width: 4%;
  height: 4%;
}
.opinion .main textarea{
  width: 99%;
  height: 10%;
  text-indent: 2%;
  resize:none;
}
.opinion .main a{
  background: url('../images/u62.png');
  background-repeat: no-repeat;
  background-size: 100vw 8vh;
  background-position: center;
  width: 78%;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 3%;
  margin-top: 32%;
  font-size: 120%;
  font-weight: bold;
}
